{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section>
		<div class="box-p">
            <h2>Hey guys, you can contact me on my social media bellow :</h2>
		</div>
	</section>
	
	<main>
		<div class="boxx"><img src="{% static 'story_4/img/instagram.jpg' %}"></div>
		<div class="boxx"><img src="{% static 'story_4/img/twitter.jpg' %}"></div>
	</main>

{% endblock %}